<div class="row">
  <div class="col-md-3">

    <h2>{{model.title}}</h2>

    <ul class="nav nav-pills nav-stacked">
      {{#each model.steps as |step|}}
        {{#nav-link-to 'dashboard.tutorial.lesson.step' step}}{{step.name}}{{/nav-link-to}}
      {{/each}}
    </ul>

    <button {{action 'addNewStep'}} class="btn btn-success">Add New Step</button>
  </div>

  <div class="col-md-9">
    {{outlet}}
  </div>
</div>
