<h1>Sandbox</h1>

{{input value=model.name key-press='updateMyCode' class='form-control'}}

<br>

<div class="row">
  <div class="col-md-6">
    {{if model.hasDirtyAttributes 'Not Saved' 'Saved'}}
    {{ivy-codemirror
          value       = model.source
          valueUpdated=(action 'updateMyCode')
          lineNumbers = true
          mode        = 'htmlmixed'
          addModeClass= true
          theme       = 'solarized light'}}
  </div>

  <div class="col-md-6">
    {{preview-iframe srcdoc=model.source}}
  </div>
</div>