<h2>Step {{model.sort}}</h2>

Comment: {{input value=model.comment}}

<button {{action 'save'}} class="btn btn-success">Save</button>
<button {{action 'saveAndNextStep'}} class='btn btn-info'>Save and Next</button>