<div class="well well-sm">
  <h4>List of Files</h4>

  <ul>
    {{#each model as |sandbox|}}
      <li>{{#link-to "sandboxes.sandbox" sandbox}}{{sandbox.name}}{{/link-to}} | <a href="" {{action 'deleteSandbox' sandbox}}>Delete</a></li>
    {{/each}}
  </ul>

  <button {{action 'newSandbox'}} class="btn btn-default">New</button>

</div>

{{outlet}}